@font-face {
	font-family: 'cartoon';
	src: url('./cartoon.woff2') format('woff2'),
		url('./cartoon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	overflow: none;
	display: flex;
	width: 100%;
	height: 100%;
	font-family: cartoon;
}


.sprite {
	background-image: url('./sprites.png');
}

.favicon {
	background-image: url('./favicon.png');
}